<h1>Alumno</h1>
<h4>{{ alumno.nombre }}</h4>

<div class="row">

	Código:
	<br>
	<input type="text" class="form-control" ng-model="alumno.codigo" readonly="readonly">
	<br><br>

	Nombre:
	<br>
	<input type="text" class="form-control" ng-model="alumno.nombre" readonly="readonly">
	<br><br>

	Teléfono:
	<br>
	<input type="text" class="form-control" ng-model="alumno.telefono" readonly="readonly">
	<br><br>

	Dirección:
	<br>
	<input type="text" class="form-control" ng-model="alumno.direccion" readonly="readonly">
	<br><br>

</div>